@use "./mixins" as *;
@use "./variables" as *;
@use "./typography";
// .footer {
//     font-size:$mobile-main-footer-font-size;
//     line-height:$mobile-main-footer-line-height;
//     font-weight:$mobile-main-footer-font-weight;
//     background-color:#323232;
//     color: white;
//     padding: 0 2rem;
//     @include tablet{

//     }
//     @include desktop{

//     }
//     .icon-title-container{
//         &>div{
//             & *{
//                 margin-right:1rem;
//             }
//         }
//         @include tablet{

//         }
//         @include desktop{

//         }
//     }
//     & span {
//         display: block;
//         margin-bottom: 0rem;
//         padding-bottom:2rem;
//         @include tablet{

//         }
//         @include desktop{

//         }
//     }

//     &__agent {
//         list-style: none;
//         padding-left: 0;
//         @include tablet{

//         }
//         @include desktop{

//         }
//     }
// }


// @include tablet {
// .footer {
//     .icon-title-container{
//         @include flex(row,space-between,center);
//         &>div{
//             width:33%;
//             & *{
//                 margin-right:2rem;
//             }
//         }
//     }
//     font-size:$desktop-tablet-footer-font-size;
//     line-height:$desktop-tablet-footer-line-height;
//     font-weight:$desktop-tablet-footer-font-weight;
//     width:100%;
//     background-color:#323232;
//     color: white;
//     padding: 3rem 2rem;
//     position: relative;
//     margin-top: 2rem;
//     line-height: 2rem;
//     &__title-icons-container{
//         @include flex(row,space-around,center);
//         & div{
//             width:30%;
//             text-align: left;
//         }
//         & span{
//             width:20%;
//             text-align: left;
//         }
//     }
//     & span {
//         display: block;
//         margin-bottom: 1rem;
//     }
//     &__title {
//         width:25%;
//         margin: 0;
//         font-size: 2rem;
//     }
//     &__agent {
//         list-style: none;
//         padding-left: 0;
//         @include flex(row,space-around,center);
//         gap:6rem;
//     }
//   .mobile-bandsite{
//     display: none;
//   }
// }
// }

// @include desktop {
// .footer {
//     .icon-title-container{
//         @include flex(row,space-between,center);
//         &>div{
//             width:53%;
//             & *{
//                 margin-right:2rem;
//             }
//         }
//     }
//     font-size:$desktop-tablet-footer-font-size;
//     line-height:$desktop-tablet-footer-line-height;
//     font-weight:$desktop-tablet-footer-font-weight;
//     background-color:#323232;
//     color: white;
//     padding: 3rem 2rem;
//     position: relative;
//     margin-top: 2rem;
//     line-height: 2rem;
//     &__title-icons-container{
//         @include flex(row,center,center)
//     }
//     & span {
//         display: block;
//         margin-bottom: 1rem;
//     }

//     &__icons {
//         position: absolute;
//         top: 50px;
//         left: 255px;
//     }

//     &__title {
//         margin: 0;
//         font-size: 2rem;
//     }

//     &__agent {
//         list-style: none;
//         padding-left: 0;
//         display: flex;
//         gap: 2rem;
//     }
//     .mobile-bandsite{
//         display:none;
//     }
// }
// }


.footer {
    font-size: $mobile-main-footer-font-size;
    line-height: $mobile-main-footer-line-height;
    font-weight: $mobile-main-footer-font-weight;
    font-family:avenir;
    font-style:normal;
    background-color: #323232;
    color: white;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;

    @include tablet {
        font-size: $desktop-tablet-footer-font-size;
        line-height: $desktop-tablet-footer-line-height;
        font-weight: $desktop-tablet-footer-font-weight;
        margin-top: 2rem;
        line-height: 3rem;
        flex-direction: row;
        justify-content: center;
    }

    @include desktop {
        font-size: $desktop-tablet-footer-font-size;
        line-height: $desktop-tablet-footer-line-height;
        font-weight: $desktop-tablet-footer-font-weight;
        padding: 3rem 6rem;
        margin-top: 2rem;
        line-height: 3rem;
        flex-direction: row;
    }

    & span {
        display: block;
    }

    &__title {
        @include tablet {
            width: 30%;
            margin-top: 0;
            font-size: 2rem;
        }

        @include desktop {
            width: 25%;
            margin-top: 0;
            font-size: 2rem;
        }
    }

    &__icons {
        margin-bottom: 2rem;
        margin-top:2rem;
        @include tablet {
            width: 30%;
            @include flex(row, flex-start, center);
            margin-top:0;
        }

        @include desktop {
            width: 25%;
            @include flex(row, flex-start, center);
            margin-top:0;
        }

        &>img {
            margin-right: 1.5rem;
        }
    }

    &__agent {
        margin-bottom:2rem;
        @include tablet {
            width: 30%;
        }

        @include desktop {
            width: 25%;
        }
          &-span-up{
            margin-top:1rem;
          }
            &-span-bottom {
                margin-bottom:1rem;
                @include tablet {
                    margin-top: -2rem;
                }

                @include desktop {
                    margin-top: -2rem;
                }
        }
    }

    &__tablet-desktop-bandsite {
        display:none;
        @include tablet {
            width: 30%;
            margin-bottom: 2rem;
            text-align: right;
            position: relative;
            left: 2rem;
            display:block;
            margin-top:0;
        }

        @include desktop {
            width: 45%;
            margin-bottom: 2rem;
            text-align: right;
            display:block;
            margin-top:0;
        }
    }

    &__mobile-bandsite{
        margin-top:3rem;
        @include tablet{
            display:none;
        }
        @include desktop{
            display:none;
        }
    }

    &__copyright{
      width:90%;
    }

    // .mobile-bandsite {
    //     @include tablet {
    //         display: none;
    //     }
    //     @include desktop {
    //         display: none;
    //     }
    // }
}