@use "./mixins" as *;
@use "./variables" as *;
@use "./typography";

.footer {
    font-size: $mobile-main-footer-font-size;
    line-height: $mobile-main-footer-line-height;
    font-weight: $mobile-main-footer-font-weight;
    font-family: avenir;
    font-style: normal;
    background-color: #323232;
    color: #FFFFFF;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;

    @include tablet {
        font-size: $desktop-tablet-footer-font-size;
        line-height: $desktop-tablet-footer-line-height;
        font-weight: $desktop-tablet-footer-font-weight;
        margin-top: 2rem;
        line-height: 3rem;
        flex-direction: row;
        justify-content: center;
    }

    @include desktop {
        font-size: $desktop-tablet-footer-font-size;
        line-height: $desktop-tablet-footer-line-height;
        font-weight: $desktop-tablet-footer-font-weight;
        padding: 3rem 6rem;
        margin-top: 2rem;
        line-height: 3rem;
        flex-direction: row;
    }

    & span {
        display: block;
    }

    &__title {
        @include tablet {
            width: 30%;
            margin-top: 0;
            font-size: 2rem;
        }

        @include desktop {
            width: 25%;
            margin-top: 0;
            font-size: 2rem;
        }
    }

    &__icons {
        margin-bottom: 2rem;
        margin-top: 2rem;

        @include tablet {
            width: 30%;
            @include flex(row, flex-start, center);
            margin-top: 0;
        }

        @include desktop {
            width: 25%;
            @include flex(row, flex-start, center);
            margin-top: 0;
        }

        &>img {
            margin-right: 1.5rem;
        }
    }

    &__agent {
        margin-bottom: 2rem;

        @include tablet {
            width: 30%;
        }

        @include desktop {
            width: 25%;
        }

        &-span-up {
            margin-top: 1rem;
        }

        &-span-bottom {
            margin-bottom: 1rem;

            @include tablet {
                margin-top: -2rem;
            }

            @include desktop {
                margin-top: -2rem;
            }
        }
    }

    &__tablet-desktop-bandsite {
        display: none;

        @include tablet {
            width: 30%;
            margin-bottom: 2rem;
            text-align: right;
            position: relative;
            left: 2rem;
            display: block;
            margin-top: 0;
        }

        @include desktop {
            width: 45%;
            margin-bottom: 2rem;
            text-align: right;
            display: block;
            margin-top: 0;
        }
    }

    &__mobile-bandsite {
        margin-top: 3rem;

        @include tablet {
            display: none;
        }

        @include desktop {
            display: none;
        }
    }

    &__copyright {
        width: 90%;
    }
}