@use "./mixins" as *;
@use "./variables" as *;
@use "./typography";

.shows-hero {
    height: 60vh;
    color: #FFFFFF;
    font-family: avenir;
    font-style: normal;
    background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
        url("../../assets/images/hero-shows.jpg");
    background-position: center;
    background-size: cover;

    @include tablet {
        height: 90vh;
    }

    @include desktop {
        height: 100vh;
        margin-bottom: 4rem;
    }

    &__container {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        @include flex(column, center, left);

        @include tablet {
            margin-left: 3rem;
            width: 80%;
            @include flex(column, center, left);
        }

        @include desktop {
            margin-left: 6rem;
            width: 80%;
            @include flex(column, center, left);
        }

        &-small-title {
            margin: 0;
            width: 100%;
            font-size: $mobile-subheader-font-size;
            font-size: 20px;
            font-weight: $mobile-subheader-font-weight;
            line-height: $mobile-subheader-line-height;

            @include tablet {
                font-size: 30px;
            }

            @include desktop {
                font-size: 20px;
            }
        }

        &-large-title {
            width: 70%;
            font-size: $mobile-header-font-size;
            font-size: 40px;

            @include tablet {
                width: 90%;
                font-size: 60px;
                word-spacing: 1rem;
            }

            @include desktop {
                width: 50%;
                font-size: 60px;
                word-spacing: 1rem;
            }
        }

        &-music {
            width: 100%;
            height: 40%;

            @include tablet {
                width: 70%;
            }

            @include desktop {
                width: 40%;
                height: 25%;
                position: relative;
                left: 60%;
                bottom: 30%;
            }
        }
    }
}

.shows {
    width: 100%;
    font-family: avenir;
    font-style: normal;
    margin-bottom: 1rem;

    @include tablet {}

    @include desktop {
        @include flex(row, center, flex-start)
    }

    &__title {
        margin-left: 2rem;
        margin-bottom: 0;
        margin-top: 3rem;

        @include tablet {
            margin-bottom: 3rem;
        }

        @include desktop {
            margin: -2rem;
            ;
            width: 30%;
            text-align: center;
        }
    }

    &__tickets {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;

        @include desktop {
            width: 70%;
            margin-right: 4rem;
        }

        &-ticket {
            width: 100%;
            border-bottom: 1px solid #E1E1E1;
            padding: 1rem;

            @include tablet {
                @include flex(row, space-between, center);
            }

            @include desktop {
                @include flex(row, space-between, center);
            }

            &-date {
                @include flex(column, center, left);
                margin-bottom: 1rem;

                @include tablet {
                    width: 25%;
                }

                @include desktop {
                    width: 30%;
                }

                &-title {
                    color: #AFAFAF;
                    font-size: $mobile-main-footer-font-size;
                    font-weight: $mobile-main-footer-font-weight;
                    line-height: $mobile-main-footer-line-height;
                }

                &-content {
                    font-weight: 600;
                }
            }

            &-venue {
                @include flex(column, center, left);
                margin-bottom: 1rem;

                @include tablet {
                    width: 25%;
                }

                @include desktop {
                    width: 20%;
                }

                &-title {
                    color: #AFAFAF;
                    font-size: $mobile-main-footer-font-size;
                    font-weight: $mobile-main-footer-font-weight;
                    line-height: $mobile-main-footer-line-height;
                }
            }

            &-eventLocation {
                @include flex(column, center, left);
                margin-bottom: 1rem;

                @include tablet {
                    width: 25%;
                }

                @include desktop {
                    width: 20%;
                }

                &-title {
                    color: #AFAFAF;
                    font-size: $mobile-main-footer-font-size;
                    font-weight: $mobile-main-footer-font-weight;
                    line-height: $mobile-main-footer-line-height;
                }
            }

            &-button {
                width: 100%;
                color: #FFFFFF;
                background-color: #323232;
                border: 0;
                border-radius: 4px;
                height: 40px;

                &:hover {
                    background-color: #000000;
                }

                @include tablet {
                    width: 25%;
                }

                @include desktop {
                    width: 20%;
                }
            }

            &:hover {
                background-color: #FAFAFA;
                border-radius: 4px;
            }

            &:active {
                background-color: #E1E1E1;
                border-radius: 4px;
            }
        }
    }
}

.visible {
    @include tablet {
        position: relative;
        bottom: 2rem;
    }

    @include desktop {
        position: relative;
        bottom: 2rem;
    }
}

.hide {
    @include tablet {
        visibility: hidden;
    }

    @include desktop {
        visibility: hidden;
    }
}

.header__nav-item.header__nav-item--bio {
    border-bottom: 0.3rem solid #323232;
}

.header__nav-item.header__nav-item--show {
    border-bottom: 0.3rem solid #FFFFFF;
}