$mobile-header-font-size: 24px;
$mobile-header-line-height: 32px;
$mobile-header-font-weight: 700;

$mobile-subheader-font-size: 14px;
$mobile-subheader-line-height: 22px;
$mobile-subheader-font-weight: 600;

$mobile-main-footer-font-size: 13px;
$mobile-main-footer-line-height: 18px;
$mobile-main-footer-font-weight: 400;

$mobile-comment-labels-buttons-font-size: 10px;
$mobile-comment-labels-buttons-line-height: 20px;
$mobile-comment-labels-buttons-font-weight: 700;

$desktop-tablet-pageHeader-font-size: 60px;
$desktop-tablet-pageHeader-line-height: 68px;
$desktop-tablet-pageHeader-font-weight: 700;

$desktop-tablet-sectionHeader-font-size: 36px;
$desktop-tablet-sectionHeader-line-height: 44px;
$desktop-tablet-sectionHeader-font-weight: 700;

$desktop-tablet-subHeader-font-size: 24px;
$desktop-tablet-subHeader-line-height: 32px;
$desktop-tablet-subHeader-font-weight: 600;

$desktop-tablet-main-font-size: 14px;
$desktop-tablet-main-line-height: 22px;
$desktop-tablet-main-font-weight: 400;

$desktop-tablet-footer-font-size: 14px;
$desktop-tablet-footer-line-height: 20px;
$desktop-tablet-footer-font-weight: 400;

$tablet-desktop-comment-labels-buttons-font-size: 12px;
$tablet-desktop-comment-labels-buttons-line-height: 20px;
$tablet-desktop-comment-labels-buttons-font-weight: 700;


$primary-color: #323232;
$bandsite-dark-black: #000000;
$secondary-text-inactive-cta-color: #AFAFAF;