@use "./partials/resets";
@use "./partials/header";
@use "./partials/footer";
@use "./partials/hero";
@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/typography";


.about {
    font-size: $mobile-main-footer-font-size;
    line-height: $mobile-main-footer-line-height;
    font-weight: $mobile-main-footer-font-weight;
    font-family:avenir;
    font-style:normal;
    width: 100%;
    padding: 0 2rem;
    color:$primary-color;

    @include tablet {
        font-size: $desktop-tablet-main-font-size;
        line-height: $desktop-tablet-main-line-height;
        font-weight: $desktop-tablet-main-font-weight;
        padding: 0 7rem;
    }

    @include desktop {
        font-size: $desktop-tablet-main-font-size;
        line-height: $desktop-tablet-main-line-height;
        font-weight: $desktop-tablet-main-font-weight;
        padding: 0 15rem;
    }

    &__title {
        font-size: $mobile-header-font-size;
        line-height: $mobile-header-line-height;
        font-weight: $mobile-header-font-weight;

        @include tablet {
            margin-left: -50px;
            font-size: $desktop-tablet-sectionHeader-font-size;
            line-height: $desktop-tablet-sectionHeader-line-height;
            font-weight: $desktop-tablet-sectionHeader-font-weight;
        }

        @include desktop {
            margin-left: -50px;
            font-size: $desktop-tablet-sectionHeader-font-size;
            line-height: $desktop-tablet-sectionHeader-line-height;
            font-weight: $desktop-tablet-sectionHeader-font-weight;
        }
    }

    &__image {
        width: 100%;
        height: 35vh;

        @include tablet {
            height: 60vh;
        }

        @include desktop {
            height: 70vh;
        }
    }

    &__paragraph-title {
        font-size: $mobile-subheader-font-size;
        line-height: $mobile-subheader-line-height;
        font-weight: $mobile-subheader-font-weight;

        @include tablet {
            font-size: $desktop-tablet-subHeader-font-size;
            line-height: $desktop-tablet-subHeader-line-height;
            font-weight: $desktop-tablet-subHeader-font-weight;
        }

        @include desktop {
            font-size: $desktop-tablet-subHeader-font-size;
            line-height: $desktop-tablet-subHeader-line-height;
            font-weight: $desktop-tablet-subHeader-font-weight;
        }
    }

    &__paragraph {
        @include tablet {
            @include flex(row, center, center);
            width: 100%;
            gap: 3rem;
            word-spacing: 0.3rem;
            line-height: 1.5rem;
        }

        @include desktop {
            @include flex(row, center, center);
            width: 100%;
            gap: 3rem;
            word-spacing: 0.3rem;
            line-height: 1.5rem;
        }
    }

    &__quotes {
        @include desktop {
            width: 80%;
        }
    }
}

.photo {
    background-color: #FAFAFA;
    width: 100%;
    padding: 0 2rem;
    color:$primary-color;
    @include tablet {}

    @include desktop {}

    &__title {
        // margin-left: 2rem;
        font-size: $mobile-header-font-size;
        line-height: $mobile-header-line-height;
        font-weight: $mobile-header-font-weight;
        // border:1px solid red;
        // margin-top:0;
        @include tablet {
            font-size: $desktop-tablet-sectionHeader-font-size;
            line-height: $desktop-tablet-sectionHeader-line-height;
            font-weight: $desktop-tablet-sectionHeader-font-weight;
        }

        @include desktop {
            font-size: $desktop-tablet-sectionHeader-font-size;
            line-height: $desktop-tablet-sectionHeader-line-height;
            font-weight: $desktop-tablet-sectionHeader-font-weight;
        }
    }

    &__container {
        width: 100%;

        &>* {
            width: 100%;
            margin-bottom: 2rem;
        }

        @include tablet {
            @include flex(flex, flex-start, center);
            flex-wrap: wrap;
            gap: 2rem;

            &>* {
                width: 30%;
                margin-bottom: 0rem;
            }
        }

        @include desktop {
            @include flex(flex, flex-start, center);
            flex-wrap: wrap;
            gap: 2rem;

            &>* {
                width: 30%;
                margin-bottom: 0rem;
            }
        }
    }
}


