body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: avenir;
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: avenir;
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: avenir;
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-style: normal;
  font-weight: 700;
}
.header {
  background-color: #323232;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header {
    padding-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
  }
}
@media (min-width: 1280px) {
  .header {
    padding-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
  }
}
.header__title {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  font-family: avenir;
  font-style: normal;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__title {
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .header__title {
    margin-left: 6rem;
    margin-right: 1rem;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}
.header__nav {
  height: 100%;
  width: 100%;
}
.header__nav-list {
  width: 100%;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__nav-list {
    width: 280px;
    height: 100%;
    margin-top: 0;
  }
}
@media (min-width: 1280px) {
  .header__nav-list {
    width: 220px;
    height: 100%;
    margin-top: 0;
  }
}
.header__nav-item {
  width: 50%;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  font-family: avenir;
  font-style: normal;
  height: 100%;
}
.header__nav-item:first-child {
  border-bottom: 0.3rem solid white;
}
.header__nav-item:last-child {
  border-bottom: 0.3rem solid #323232;
  color: #E1E1E1;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__nav-item {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
  }
  .header__nav-item:first-child {
    width: 200px;
    margin-left: 2rem;
  }
  .header__nav-item:last-child {
    margin-left: 3rem;
  }
}
@media (min-width: 1280px) {
  .header__nav-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    padding-bottom: 0;
  }
  .header__nav-item:first-child {
    margin-left: 3rem;
  }
  .header__nav-item:last-child {
    margin-left: 1.5rem;
  }
}

.footer {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-family: avenir;
  font-style: normal;
  background-color: #323232;
  color: #FFFFFF;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 2rem;
    line-height: 3rem;
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 1280px) {
  .footer {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 3rem 6rem;
    margin-top: 2rem;
    line-height: 3rem;
    flex-direction: row;
  }
}
.footer span {
  display: block;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__title {
    width: 30%;
    margin-top: 0;
    font-size: 2rem;
  }
}
@media (min-width: 1280px) {
  .footer__title {
    width: 25%;
    margin-top: 0;
    font-size: 2rem;
  }
}
.footer__icons {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__icons {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
  }
}
@media (min-width: 1280px) {
  .footer__icons {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
  }
}
.footer__icons > img {
  margin-right: 1.5rem;
}
.footer__agent {
  margin-bottom: 2rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__agent {
    width: 30%;
  }
}
@media (min-width: 1280px) {
  .footer__agent {
    width: 25%;
  }
}
.footer__agent-span-up {
  margin-top: 1rem;
}
.footer__agent-span-bottom {
  margin-bottom: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__agent-span-bottom {
    margin-top: -2rem;
  }
}
@media (min-width: 1280px) {
  .footer__agent-span-bottom {
    margin-top: -2rem;
  }
}
.footer__tablet-desktop-bandsite {
  display: none;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__tablet-desktop-bandsite {
    width: 30%;
    margin-bottom: 2rem;
    text-align: right;
    position: relative;
    left: 2rem;
    display: block;
    margin-top: 0;
  }
}
@media (min-width: 1280px) {
  .footer__tablet-desktop-bandsite {
    width: 45%;
    margin-bottom: 2rem;
    text-align: right;
    display: block;
    margin-top: 0;
  }
}
.footer__mobile-bandsite {
  margin-top: 3rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__mobile-bandsite {
    display: none;
  }
}
@media (min-width: 1280px) {
  .footer__mobile-bandsite {
    display: none;
  }
}
.footer__copyright {
  width: 90%;
}

.hero {
  height: 40vh;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../../assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero {
    height: 80vh;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 100vh;
  }
}
.hero__title {
  margin: 0 1.5rem;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  font-family: avenir;
  font-style: normal;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero__title {
    margin: 0 5rem;
    padding-bottom: 5rem;
    font-size: 90px;
    line-height: 68px;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    margin: 0 8rem;
    padding-bottom: 5rem;
    font-size: 70px;
    line-height: 68px;
    font-weight: 700;
  }
}

.comment {
  font-family: avenir;
  font-style: normal;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comment {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
@media (min-width: 1280px) {
  .comment {
    padding-left: 0;
    padding-right: 0;
  }
}
.comment__title {
  color: #323232;
  margin-left: 2rem;
  font-size: 40px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comment__title {
    font-size: 35px;
  }
}
@media (min-width: 1280px) {
  .comment__title {
    margin-left: 10rem;
    font-size: 33px;
  }
}
.comment__input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #E1E1E1;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comment__input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    width: 70%;
  }
}
@media (min-width: 1280px) {
  .comment__input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}
.comment__input-profile {
  height: 30px;
  width: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 20% 0;
     object-position: 20% 0;
  border-radius: 50%;
  background-color: #E1E1E1;
  position: relative;
  top: 1.6rem;
  left: 0.5rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comment__input-profile {
    position: relative;
    top: 1.8rem;
    left: -0.5rem;
  }
}
@media (min-width: 1280px) {
  .comment__input-profile {
    position: relative;
    top: 1.8rem;
    left: -0.5rem;
  }
}
.comment__input-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comment__input-form {
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .comment__input-form {
    width: 30%;
  }
}
.comment__input-form-label {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.comment__input-form-label-title {
  margin-bottom: 4px;
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  color: #AFAFAF;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comment__input-form-label-title {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .comment__input-form-label-title {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
  }
}
.comment__input-form-label-field {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #E1E1E1;
  padding: 12px;
  margin-bottom: 1.5rem;
  background-color: #FAFAFA;
}
.comment__input-form-label-field:focus {
  border: 1px solid #323232;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comment__input-form-label-field {
    padding: 16px;
  }
}
@media (min-width: 1280px) {
  .comment__input-form-label-field {
    padding: 16px;
  }
}
.comment__input-form-label-field--name {
  height: 40px;
}
.comment__input-form-label-field--name::-moz-placeholder {
  color: #323232;
}
.comment__input-form-label-field--name::placeholder {
  color: #323232;
}
.comment__input-form-label-field--comment {
  height: 150px;
}
.comment__input-form-label-field--comment::-moz-placeholder {
  color: #323232;
}
.comment__input-form-label-field--comment::placeholder {
  color: #323232;
}
.comment__input-form-button {
  width: 100%;
  height: 40px;
  background-color: #323232;
  color: #FFFFFF;
  border-radius: 4px;
  border: 0;
  margin-bottom: 1rem;
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comment__input-form-button {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    width: 30%;
    align-self: flex-end;
  }
}
@media (min-width: 1280px) {
  .comment__input-form-button {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    width: 40%;
    align-self: flex-end;
  }
}
.comment__input-form-button:hover {
  background-color: #000000;
  color: #FFFFFF;
}
.comment__display {
  margin-bottom: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comment__display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.comment__display-post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E1E1E1;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comment__display-post {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
  }
}
.comment__display-post-profile {
  height: 30px;
  width: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 20% 0;
     object-position: 20% 0;
  border-radius: 50%;
  background-color: #E1E1E1;
  position: relative;
  top: -2.5rem;
  left: 0.5rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comment__display-post-profile {
    top: -2rem;
    left: -0.5rem;
  }
}
.comment__display-post-content {
  width: 80%;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comment__display-post-content {
    width: 100%;
  }
}
.comment__display-post-content-title-date-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.comment__display-post-content-title {
  margin-bottom: 0;
  margin-top: 0;
  color: #323232;
}
.comment__display-post-content-date {
  color: #E1E1E1;
}

.about {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-family: avenir;
  font-style: normal;
  width: 100%;
  padding: 0 2rem;
  color: #323232;
  background-color: #FFFFFF;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .about {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    padding: 0 7rem;
  }
}
@media (min-width: 1280px) {
  .about {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    padding: 0 15rem;
  }
}
.about__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .about__title {
    margin-left: -50px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .about__title {
    margin-left: -50px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}
.about__image {
  width: 100%;
}
.about__paragraph-title {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .about__paragraph-title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  .about__paragraph-title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .about__paragraph {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3rem;
    word-spacing: 0.3rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .about__paragraph {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3rem;
    word-spacing: 0.3rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .about__quotes {
    width: 80%;
  }
}

.photo {
  background-color: #FAFAFA;
  width: 100%;
  padding: 0 2rem;
  color: #323232;
}
@media (min-width: 1280px) {
  .photo {
    padding: 0 10rem;
  }
}
.photo__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .photo__title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    padding-top: 2rem;
  }
}
@media (min-width: 1280px) {
  .photo__title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    padding-top: 2rem;
  }
}
.photo__container {
  width: 100%;
}
.photo__container > * {
  width: 100%;
  margin-bottom: 2rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .photo__container {
    display: flex;
    flex-direction: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-bottom: 2rem;
  }
  .photo__container > * {
    width: 30%;
    margin-bottom: 0rem;
  }
}
@media (min-width: 1280px) {
  .photo__container {
    display: flex;
    flex-direction: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-bottom: 2rem;
  }
  .photo__container > * {
    width: 30%;
    margin-bottom: 0rem;
  }
}/*# sourceMappingURL=bio.css.map */