body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.header {
  background-color: #323232;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header {
    padding-top: 0;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .header {
    padding-top: 0;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
.header__title {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__title {
    margin-left: 3rem;
    margin-right: 4rem;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .header__title {
    margin-left: 10rem;
    margin-right: 0rem;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
}
.header__list {
  width: 100%;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__list {
    width: 23%;
    height: 100%;
    padding-left: 3rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 1280px) {
  .header__list {
    width: 23%;
    height: 100%;
    padding-left: 3rem;
    margin-bottom: 1rem;
  }
}
.header__item {
  width: 50%;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}
.header__item:first-child {
  border-bottom: 0.3rem solid white;
}
.header__item:last-child {
  border-bottom: 0.3rem solid #323232;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__item {
    width: 100%;
    height: 100%;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
  }
  .header__item:first-child {
    margin-left: 5rem;
  }
  .header__item:last-child {
    margin-left: 5rem;
  }
}
@media (min-width: 1280px) {
  .header__item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    padding-bottom: 0;
  }
}

.footer {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  background-color: #323232;
  color: white;
  padding: 0 2rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    width: 100%;
    padding: 3rem 2rem;
    position: relative;
    margin-top: 2rem;
    line-height: 2rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 3rem 2rem;
    position: relative;
    margin-top: 2rem;
    line-height: 2rem;
  }
}
.footer .icon-title-container > div * {
  margin-right: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer .icon-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer .icon-title-container > div {
    width: 33%;
  }
  .footer .icon-title-container > div * {
    margin-right: 2rem;
  }
}
@media (min-width: 1280px) {
  .footer .icon-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer .icon-title-container > div {
    width: 53%;
  }
  .footer .icon-title-container > div * {
    margin-right: 2rem;
  }
}
.footer span {
  display: block;
  margin-bottom: 0rem;
  padding-bottom: 2rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer span {
    display: block;
    margin-bottom: 1rem;
  }
}
@media (min-width: 1280px) {
  .footer span {
    display: block;
    margin-bottom: 1rem;
  }
}
.footer__agent {
  list-style: none;
  padding-left: 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__agent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 6rem;
  }
}
@media (min-width: 1280px) {
  .footer__agent {
    display: flex;
    gap: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__title-icons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .footer__title-icons-container div {
    width: 30%;
    text-align: left;
  }
  .footer__title-icons-container span {
    width: 20%;
    text-align: left;
  }
}
@media (min-width: 1280px) {
  .footer__title-icons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__title {
    width: 25%;
    margin: 0;
    font-size: 2rem;
  }
}
@media (min-width: 1280px) {
  .footer__title {
    margin: 0;
    font-size: 2rem;
  }
}
@media (min-width: 1280px) {
  .footer__icons {
    position: absolute;
    top: 50px;
    left: 255px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer .mobile-bandsite {
    display: none;
  }
}
@media (min-width: 1280px) {
  .footer .mobile-bandsite {
    display: none;
  }
}

.hero {
  width: 100%;
  height: 40vh;
  background-image: url("../../assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero {
    height: 100vh;
    background-position-y: -90px;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 100vh;
    background-position: center;
  }
}
.hero__title {
  margin: 0 1.5rem;
  color: white;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero__title {
    margin: 0 5rem;
    padding-bottom: 5rem;
    font-size: 90px;
    line-height: 68px;
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    margin: 0 8rem;
    padding-bottom: 5rem;
    font-size: 70px;
    line-height: 68px;
    font-weight: 700;
  }
}

@media (max-width: 767px) {
  .about {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    width: 100%;
    padding: 0 2rem;
  }
  .about__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
  .about__image {
    width: 100%;
    height: 35vh;
  }
  .about__paragraph-title {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
  }
  .photo {
    background-color: #FAFAFA;
    width: 100%;
  }
  .photo__title {
    margin-left: 2rem;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
  .photo__container {
    width: 100%;
    padding: 0 2rem;
  }
  .photo__container > * {
    width: 100%;
    margin-bottom: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .about {
    margin-top: -60px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    width: 100%;
    padding: 0 7rem;
  }
  .about__image {
    width: 100%;
    height: 60vh;
  }
  .about__title {
    margin-left: -50px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
  .about__paragraph {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3rem;
    word-spacing: 0.3rem;
    line-height: 1.5rem;
  }
  .about__paragraph-title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
  .photo {
    background-color: #FAFAFA;
    width: 100%;
  }
  .photo__title {
    margin-left: 3rem;
    padding-top: 3rem;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
  .photo__container {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .photo__container > * {
    width: 30%;
  }
}
@media (min-width: 1280px) {
  .about {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    width: 100%;
    padding: 0 15rem;
  }
  .about__image {
    width: 100%;
    height: 70vh;
  }
  .about__title {
    margin-left: -50px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
  .about__quotes {
    width: 80%;
  }
  .about__paragraph {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3rem;
    word-spacing: 0.3rem;
    line-height: 1.5rem;
  }
  .about__paragraph-title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
  .photo {
    background-color: #FAFAFA;
    width: 100%;
  }
  .photo__title {
    margin-left: 8.5rem;
    padding-top: 2rem;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
  .photo__container {
    width: 100%;
    padding: 0 7rem;
    display: flex;
    flex-direction: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .photo__container > * {
    width: 30%;
  }
}/*# sourceMappingURL=bio.css.map */