body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .header {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    width: 100%;
  }
  .header__title {
    margin: 0;
  }
  .header__list {
    width: 100%;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .header__item {
    width: 50%;
    text-align: center;
    padding-bottom: 1rem;
  }
  .header__item:first-child {
    border-bottom: 0.3rem solid white;
  }
  .header__item:last-child {
    border-bottom: 0.3rem solid black;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header {
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .header__title {
    margin-left: 3rem;
    margin-right: 4rem;
  }
  .header__list {
    width: 23%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .header__item {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .header__item:first-child {
    border-bottom: 0.3rem solid white;
  }
  .header__item:last-child {
    border-bottom: 0.3rem solid black;
  }
}
@media (min-width: 1280px) {
  .header {
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .header__title {
    margin-left: 10rem;
    margin-right: 0rem;
  }
  .header__list {
    width: 23%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .header__item {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .header__item:first-child {
    border-bottom: 0.3rem solid white;
  }
  .header__item:last-child {
    border-bottom: 0.3rem solid black;
  }
}
@media (max-width: 767px) {
  .footer {
    background-color: black;
    color: white;
    padding: 0 2rem;
  }
  .footer .tablet-desktop-bansite {
    display: none;
  }
  .footer span {
    display: block;
    margin-bottom: 1rem;
  }
  .footer__agent {
    list-style: none;
    padding-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer {
    width: 100%;
    background-color: black;
    color: white;
    padding: 3rem 2rem;
    position: relative;
    margin-top: 2rem;
    line-height: 2rem;
  }
  .footer__title-icons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .footer__title-icons-container div {
    width: 30%;
    text-align: left;
  }
  .footer__title-icons-container span {
    width: 20%;
    text-align: left;
  }
  .footer span {
    display: block;
    margin-bottom: 1rem;
  }
  .footer__title {
    width: 25%;
    margin: 0;
    font-size: 2rem;
  }
  .footer__agent {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 6rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    background-color: black;
    color: white;
    padding: 3rem 2rem;
    position: relative;
    margin-top: 2rem;
    line-height: 2rem;
  }
  .footer__title-icons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .footer span {
    display: block;
    margin-bottom: 1rem;
  }
  .footer__icons {
    position: absolute;
    top: 50px;
    left: 255px;
  }
  .footer__title {
    margin: 0;
    font-size: 2rem;
  }
  .footer__agent {
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 2rem;
  }
}
@media (max-width: 767px) {
  .hero {
    width: 100%;
    height: 40vh;
    background-image: url("../../assets/images/hero-bio.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .hero__title {
    margin: 0 1.5rem;
    color: white;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero {
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/images/hero-bio.jpg");
    background-position-y: -90px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .hero__title {
    margin: 0 1.5rem;
    color: white;
  }
}
@media (min-width: 1280px) {
  .hero {
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/images/hero-bio.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .hero__title {
    margin: 0 1.5rem;
    color: white;
  }
}
@media (max-width: 767px) {
  .about {
    width: 100%;
    padding: 0 2rem;
  }
  .about__image {
    width: 100%;
    height: 35vh;
  }
  .photo {
    width: 100%;
  }
  .photo__title {
    margin-left: 2rem;
  }
  .photo__container {
    width: 100%;
    padding: 0 2rem;
  }
  .photo__container > * {
    width: 100%;
    margin-bottom: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .about {
    width: 100%;
    padding: 0 7rem;
  }
  .about__image {
    width: 100%;
    height: 60vh;
  }
  .about__title {
    margin-left: -50px;
  }
  .about__paragraph {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3rem;
    word-spacing: 0.3rem;
    line-height: 1.5rem;
  }
  .photo {
    width: 100%;
  }
  .photo__title {
    margin-left: 3rem;
  }
  .photo__container {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .photo__container > * {
    width: 30%;
  }
}
@media (min-width: 1280px) {
  .about {
    width: 100%;
    padding: 0 7rem;
  }
  .about__image {
    width: 100%;
    height: 80vh;
  }
  .about__title {
    margin-left: -50px;
  }
  .about__quotes {
    width: 80%;
  }
  .about__paragraph {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3rem;
    word-spacing: 0.3rem;
    line-height: 1.5rem;
  }
  .photo {
    width: 100%;
  }
  .photo__title {
    margin-left: 4rem;
  }
  .photo__container {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .photo__container > * {
    width: 30%;
  }
}/*# sourceMappingURL=bio.css.map */