body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: avenir;
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: avenir;
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: avenir;
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-style: normal;
  font-weight: 700;
}
.shows-hero {
  background-image: url("../../assets/images/hero-shows.jpg");
  height: 60vh;
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
  font-family: avenir;
  font-style: normal;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .shows-hero {
    height: 90vh;
  }
}
@media (min-width: 1280px) {
  .shows-hero {
    height: 100vh;
    margin-bottom: 4rem;
  }
}
.shows-hero__small-title {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}
.shows {
  width: 100%;
  font-family: avenir;
  font-style: normal;
  margin-bottom: 1rem;
}
@media (min-width: 1280px) {
  .shows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}
.shows__title {
  margin-left: 2rem;
  margin-bottom: 0;
  margin-top: 3rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .shows__title {
    margin-bottom: 3rem;
  }
}
@media (min-width: 1280px) {
  .shows__title {
    margin: -2rem;
    width: 30%;
    text-align: center;
  }
}
.shows__tickets {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 1280px) {
  .shows__tickets {
    width: 70%;
    margin-right: 4rem;
  }
}
.shows__tickets-ticket {
  width: 100%;
  border-bottom: 1px solid #E1E1E1;
  padding: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .shows__tickets-ticket {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .shows__tickets-ticket {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.shows__tickets-ticket-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-bottom: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .shows__tickets-ticket-date {
    width: 25%;
  }
}
@media (min-width: 1280px) {
  .shows__tickets-ticket-date {
    width: 30%;
  }
}
.shows__tickets-ticket-date-title {
  color: #AFAFAF;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
.shows__tickets-ticket-date-content {
  font-weight: 600;
}
.shows__tickets-ticket-venue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-bottom: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .shows__tickets-ticket-venue {
    width: 25%;
  }
}
@media (min-width: 1280px) {
  .shows__tickets-ticket-venue {
    width: 20%;
  }
}
.shows__tickets-ticket-venue-title {
  color: #AFAFAF;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
.shows__tickets-ticket-eventLocation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-bottom: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .shows__tickets-ticket-eventLocation {
    width: 25%;
  }
}
@media (min-width: 1280px) {
  .shows__tickets-ticket-eventLocation {
    width: 20%;
  }
}
.shows__tickets-ticket-eventLocation-title {
  color: #AFAFAF;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
.shows__tickets-ticket-button {
  width: 100%;
  color: #FFFFFF;
  background-color: #323232;
  border: 0;
  border-radius: 4px;
  height: 40px;
}
.shows__tickets-ticket-button:hover {
  background-color: #000000;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .shows__tickets-ticket-button {
    width: 25%;
  }
}
@media (min-width: 1280px) {
  .shows__tickets-ticket-button {
    width: 20%;
  }
}
.shows__tickets-ticket:hover {
  background-color: #FAFAFA;
  border-radius: 4px;
}
.shows__tickets-ticket:active {
  background-color: #E1E1E1;
  border-radius: 4px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .visible {
    position: relative;
    bottom: 2rem;
  }
}
@media (min-width: 1280px) {
  .visible {
    position: relative;
    bottom: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .hide {
    visibility: hidden;
  }
}
@media (min-width: 1280px) {
  .hide {
    visibility: hidden;
  }
}/*# sourceMappingURL=shows.css.map */